.devmaster{
    display: flex;
}
#name{
    font-weight: 700;
    margin-bottom: 0;
}
#devmaster{
    margin-left: 4px;
    font-weight: 700;
    color: red;
}
.address b{
    font-weight: 700;
    color: rgb(0, 110, 255);
}