.title{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
a{
    font-size: 20px;
    padding: 10px;
    background-color: red;
    text-decoration: none;
    border-radius: 10px;
}
